.Account_settings {
  background-color: rgba(0, 0, 255, 0.158);
  height: auto;
  width: 30pt;
  margin-left: 20pt;
  z-index: 200;
}

.Cart {
  background-color: rgba(0, 0, 255, 0.158);
  width: 30pt;
  margin-right: 20pt;
}